@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

.bg-condicion {
  border: solid 2px gray; }

.destacados, .grupoDestacados, .sanitarios div {
  display: flex;
  align-items: center; }

/*--footer general--*/
.footerEmpresa img {
  width: 100px;
  height: 100px;
  background-color: white;
  text-decoration: none; }

/*--HEADER--*/
header navbar .container-fluid {
  background-color: grey; }

header .logo {
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-align: start; }

/*--INDEX--*/
.bienvenido {
  background-image: url(../Img/esta.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.bienvenido h1 {
  font-size: 50 px;
  margin-bottom: 20 px;
  font-weight: bold;
  color: black; }

.bienvenido a {
  text-decoration: none;
  color: gray;
  text-align: center;
  background-color: white;
  font-size: 20px;
  width: 200px;
  height: 60px;
  margin: 80px 90px; }
  .bienvenido a:hover {
    background-color: grey;
    color: blue; }

.estiloNordico {
  background-image: url(../Img/nordica.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px; }
  .estiloNordico h2 {
    font-size: 100px;
    width: fit-content;
    padding: 40px;
    margin: 30px;
    color: blue; }

.estiloNordico a {
  font-size: 40px;
  color: black;
  font-weight: bold;
  text-decoration: none; }

.ultimo h2 {
  font-size: 35px;
  padding: 50px 40px;
  text-align: center; }

.ultimo .ultimoGrupo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 25px; }
  .ultimo .ultimoGrupo .ultimocardDestacada {
    width: 320px;
    height: 320px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .ultimo .ultimoGrupo .ultimocardDestacada img {
      width: 100%; }
  .ultimo .ultimoGrupo .ultimocardDestacada img {
    width: 100%; }
  .ultimo .ultimoGrupo .ultimocardDestacada img {
    width: 100%; }
  .ultimo .ultimoGrupo .ultimocardDestacada img {
    width: 100%; }

.destacados {
  flex-direction: column;
  justify-content: center;
  gap: 50px; }

.grupoDestacados {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px; }

.cardDestacada {
  border: 1px solid gray;
  width: 350px;
  height: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .cardDestacada img {
    width: 2 250px;
    height: 250px; }

.carrusel div img {
  width: 80%;
  height: 500px; }

/*--PRODUCTOS--*/
.sanitarios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.sanitarios div h3 {
  font-size: 30px;
  color: grey;
  padding: 30px;
  margin: 30px; }

.sanitarios div img {
  width: 300px;
  height: 300px; }

.sanitarios div a {
  text-decoration: none;
  color: white;
  background-color: grey;
  padding: 5px 5px;
  font-size: 20px; }

.footerEmpresa div img {
  width: 100px;
  height: 100px;
  padding: 10PX; }

/*--EMPRESA--*/
.empresa {
  background-image: url("../Img/clientes-contentos.png");
  margin: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 100%; }
  .empresa h2 {
    font-size: 28px; }
  .empresa p {
    font-size: 20px;
    text-align: center;
    margin: 20px 15px; }

/*--CONTACTO--*/
.local iframe {
  width: 350px;
  height: 350px; }

.consulta {
  padding: 40px;
  margin: 40px; }
  .consulta mb-3 {
    padding: 20px;
    margin: 20px; }

/*NOVEDADES*/
.estuvimos h2 {
  font-size: 40px;
  color: gray;
  padding-bottom: 30px; }

.fotosFoa {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .fotosFoa img {
    width: 350px;
    height: 350px; }

.publicaciones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .publicaciones img {
    width: 350px;
    height: 350px; }

.prensa h2 {
  font-size: 30px;
  color: gray;
  text-align: center; }

@media screen and (max-width: 680px) {
  .empresa img {
    width: 350px;
    height: 300px; } }

@media screen and (max-width: 693px) {
  .sanitarios div {
    display: grid;
    grid-template-columns: 1fr; }
    .sanitarios div a {
      text-align: center;
      width: 150px; } }

div h3 {
  font-size: 30px;
  color: grey;
  padding: 30px;
  margin: 30px; }

div img {
  width: 300px;
  height: 300px; }

div a {
  text-decoration: none;
  color: white;
  background-color: grey;
  padding: 5px 5px;
  font-size: 15px; }

@media screen and (max-width: 715px) {
  .local .mapa {
    width: 350px;
    height: 300px; } }

@media screen and (max-width: 756px) {
  .destacados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px; } }

@media screen and (max-width: 756px) {
  .destacados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 45px; }
  .destacados .grupoDestacados {
    justify-content: center;
    align-items: center;
    gap: 45px; }
  .cardDestacada h3 {
    margin-top: 15px; }
  .cardDestacada .boton {
    margin: 0px 90px; } }
