/*--footer general--*/
.footer{
    div{
        img{width: 100px;
            height: 100px;

        }
    }}

    .footerProdcutos{
        div{
            img{width: 100px;
                height: 100px;
    }
        }}
    
        .footerEmpresa{
            div{
                img{width: 100px;
                    height: 100px;
                    padding: 10PX;
        }
            }}
        