/*--HEADER--*/

header {
    navbar {.container-fluid{background-color: grey; font-size: 20px; color: aliceblue; }
  } .logo {
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: start;
  }
}
 

