/*--INDEX--*/
.bienvenido {
    background-image: url(../Img/esta.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bienvenido {
    h1 {
        font-size: 50 px;
        margin-bottom: 20 px;
        font-weight: bold;
        color: black;
    }

    a {
        text-decoration: none;
        color: gray;
        text-align: center;
        background-color: white;
        font-size: 20px;
        width: $ancho /2;
        height: 60px;
        margin: 80px 90px;

        &:hover {
            background-color: grey;
            color: blue;
        }
    }
}

.estiloNordico {
    background-image: url(../Img/nordica.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    h2 {
        font-size: 100px;
        width: fit-content;
        padding: 40px;
        margin: 30px;
        color: blue;
    }
}

.estiloNordico {
    a {
        font-size: (nth($font-size , 4));
        color: black;
        font-weight: bold;
        text-decoration: none;
    }
}


.ultimo {
    h2 {
        font-size: nth($font-size, 7);
        padding: 50px 40px;
        text-align: center;

    }

    .ultimoGrupo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 25px;

        .ultimocardDestacada {
            width: $ancho /2 +120;
            height: 320px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            img {
                width: 100%;
            }
        }

        .ultimocardDestacada {
            img {
                width: 100%;
            }
        }

        .ultimocardDestacada {
            img {
                width: 100%;
            }
        }

        .ultimocardDestacada {
            img {
                width: 100%;
            }
        }
    }
}



.destacados {
    @extend %flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}



.grupoDestacados {
    @extend %flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
}

.cardDestacada {
    border: 1px solid gray;
    width: $ancho /2 + 150;
    height: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    img {
        width: 2$ancho /2 + 50;
        height: 250px;
    }
}





.carrusel {
    div {
        img {
            width: 80%;
            height: 500px;
        }
    }
}





/*--PRODUCTOS--*/

.sanitarios {
    @include direction (flex, row, wrap);

}



.sanitarios {
    div {
        @extend %flex;

        h3 {
            font-size: 30px;
            color: grey;
            padding: 30px;
            margin: 30px;
        }

        img {
            width: 300px;
            height: 300px;
        }

        a {
            text-decoration: none;
            color: white;
            background-color: grey;
            padding: 5px 5px;
            font-size: (nth($font-size , 1))
        }
    }

}

.footerEmpresa {
    div {
        img {
            width: 100px;
            height: 100px;
            padding: 10PX;

        }
    }
}

/*--EMPRESA--*/



.empresa {
    background-image: url("../Img/clientes-contentos.png");
    margin: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 100%;

    h2 {
        font-size: nth($font-size, 6);
    }

    p {
        font-size: nth($font-size, 1);
        text-align: center;
        margin: 20px 15px;
    }
}

/*--CONTACTO--*/

.local {
    iframe {
        width: 350px;
        height: 350px;
    }
}


.consulta {
    padding: 40px;
    margin: 40px;

    mb-3 {
        padding: 20px;
        margin: 20px;
    }
}



/*NOVEDADES*/
.estuvimos {
    h2 {
        font-size: nth($font-size, 4);
        color: nth($colores, 3);
        padding-bottom: 30px;
    }
}

.fotosFoa {
    @include direction (flex, row, wrap);

    img {
        width: 350px;
        height: 350px;
    }
}

.publicaciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    img {
        width: 350px;
        height: 350px;
    }
}

.prensa {
    h2 {
        font-size: 30px;
        color: gray;
        text-align: center;
    }
}