@media screen and (max-width: 680px) {
    .empresa img {
        width: 350px;
        height: 300px;
    }
}


@media screen and (max-width: 641px) {
    .sanitarios {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

@media screen and (max-width: 405px) {
    .sanitarios div {
        display: grid;
        grid-template-columns: 1fr;

        a {
            text-align: center;
            width: 150px;
        }
    }
}






div {
    h3 {
        font-size: 30px;
        color: grey;
        padding: 30px;
        margin: 30px;
    }

    img {
        width: 300px;
        height: 300px;
    }

    a {
        text-decoration: none;
        color: white;
        background-color: grey;
        padding: 5px 5px;
        font-size: 15px;
    }
}

@media screen and (max-width: 715px) {
    .local {
        .mapa {
            width: 350px;
            height: 300px;
        }

        ;
    }
}


@media screen and (max-width: 756px) {
    .destacados {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

}

@media screen and (max-width: 756px) {
    .destacados {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 45px;
    }

    .destacados .grupoDestacados {
        justify-content: center;
        align-items: center;
        gap: 45px;
    }

    .cardDestacada h3 {
        margin-top: 15px;
    }

    .cardDestacada .boton {
        margin: 0px 90px;
    }
}